<ion-header [translucent]="true">
  <ion-toolbar color="warning" mode="ios">
    <ion-title>
      Upload Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
   <ion-row>
      <ion-col>
        <div></div>
      </ion-col>
      <ion-col >
        <div>
          <ion-button ion-button small icon-only outline (click)="AccessCamera()">
            <ion-icon name="camera"> Camera</ion-icon>
          </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div> 
          <ion-button ion-button small icon-only outline (click)="AccessGallery()">
            <ion-icon name="image"> Gallery</ion-icon> 
          </ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div></div>
      </ion-col> 
    </ion-row>

    <img [src]="base64Image" *ngIf="base64Image" />

    <ion-button ion-button full (click)="Upload()" *ngIf="base64Image">
      <ion-icon name="cloud-upload-outline">Upload</ion-icon> 
    </ion-button>
 
  </ion-grid>
 
</ion-content>

<ion-footer mode="ios">
  <!-- PIE DE PAGINA -->
  <ion-toolbar color="warning">
    <div>
      <ion-title>Realizado por Cedeño Richards</ion-title><br><br>
      <ion-label id="label">UPSE-2021</ion-label>
    </div>
  </ion-toolbar>
</ion-footer>
